In [2]:
#!/usr/bin/python
first='Shreyas'
last='Patil'
user='Flamestriker'
passw='12345' 
comma="','"
end="')"
start="INSERT INTO `employee` VALUES ('"
end0="'"
start0="SELECT fname, lname, uname, pname FROM employee WHERE fname='"
query= start+first+comma+last+comma+user+comma+passw+end 
query0= start0+first+end0
query1 = '{0}'.format(query0)
query1

"SELECT fname, lname, uname, pname FROM employee WHERE fname='Shreyas'"

In [7]:
query0

"SELECT fname, lname, uname, pname FROM employee WHERE fname='Shreyas'"